* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: century gothic;
    line-height: 1.6;
}

/* FOR THE BACKGROUND */
header {
    position: relative; 
    width: 100%; 
    height: 30vh; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.background {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}

.background img {
    filter: blur(4px);
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* FOR THE PROFILE PICTURE */
.profile {
    position: relative; 
    z-index: 2; 
}

.profile-pic {
    width: 9.5rem; 
    height: 9.5rem; 
    border-radius: 50%;
    border: 4px solid rgb(62, 72, 105); 
}

/* FOR THE NAME AND TITLE */
.name-title {
    position: relative; 
    color: white; 
    text-align: center;
    letter-spacing: 0.2vw;
    z-index: 2; 
}

/* FOR THE NAVIGATION BUTTONS (WITHIN THE PAGE) */
.nav {
    position: fixed; 
    top: 1rem; 
    right: 0.8rem; 
    z-index: 3; 
    background-color: rgba(120, 188, 228, 0.61); 
    border-radius: 109px; 
    padding: 0.6rem 2rem; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    display: flex; 
    gap: 1.5rem;
}

.nav a {
    color: #131f46; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 1rem; 
    position: relative; 
    transition: color 0.3s ease; 
}

.nav a:hover {
    color: #142546; 
}

.nav a::after {
    content: ''; 
    position: absolute;
    left: 50%;
    bottom: -5px; 
    width: 0; 
    height: 2px;
    background-color: #a8b0c2; 
    transition: width 0.3s ease, left 0.3s ease;
}

.nav a:hover::after {
    width: 100%; 
    left: 0;
}

/* GENERAL */
h3 {
    font-family: EB Garamond;
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
}

p, li {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.1rem;
}

.about h4, #s-e h4, #educ .head, #proj .head {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    letter-spacing: 0.1vw;
    margin-bottom: 2vh;
}

.about h4, .about p, .about li:last-child, #educ .head, .project h4 {
    margin-bottom: 2vh;
}

.resume, #educ, .contact {
    padding: 5vw 20vw 5vw 20vw;
}

.educ-bg, .intro {
    margin: 1vw 4vw 1vw 5vw;
}

#contact p, .contact-info li:last-child {
    margin: 0vw 4vw 3vw 4vw;
}

#contact p, .contact-info li {
    font-size: 1rem;
}

.contact-info, .contact-form {
    background-color: #eef6fd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* FOR THE ABOUT SECTION */
.about {
    padding: 3vw 20vw 3vw 20vw;
    font-family: EB Garamond;
}

.about h3 {
    margin-bottom: 4vh;
}

.about li, .experience li {
    margin-left: 6vh;
}

/* FOR THE PHOTOS RELATING TO HOBBIES */
.images {
    display: flex;
    justify-content: center;
    padding: 3vw;
}

.collage {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5vw;
}

.collage img {
    width: 19.2vw;
    height: 40vh;
    object-fit: cover;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.collage img:hover {
    transform: scale(1.05);
}

/* FOR THE SKILLS AND EXPERIENCE */
.resume {
    background-color: rgb(220, 236, 252);
}

#s-e {
    display: flex;
    justify-content: space-between;
    padding: 2vw 18vw 2vw 18vw;
    gap: 2vw;
}

.skills,
.experience {
    flex: 1;
    padding: 2vw;
}

#s-e h4, #s-e p {
    margin-bottom: 2vh;
}

hr.solid {
    border-top: 0.2rem solid #90befa;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* FOR THE SKILLS GRAPH */
#graph {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    padding: 0vw 20vw 8vw 20vw;
    line-height: 1.2;
}

.skill {
    display: contents;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skill p {
    font-weight: bold;
    white-space: nowrap
}

.stars {
    margin-left: 2vw;
}

.description {
    color: gray;
    font-size: 0.8rem;
    margin-left: 2vw;
}

/* FOR THE EDUCATION SECTION */
#educ {
    background-color: rgb(229, 238, 247);
    text-align: center;
}

/* FOR THE EDUCATIONAL TIMELINE */
.educ-timeline {
    padding-top: 2vw;
    border-left: 0.2rem solid #cfcbcb;
}

.educ-bg {
    position: relative;
    background-color: #f0f0f0;
    padding: 2vw;
    width: 90%;
    border-left: 0.5rem solid #283758;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.educ-bg h4 {
    color: #283758;
    font-size: 1.2rem;
    font-family: century gothic;
}

.educ-timeline .desc {
    margin-left: 8vw;
    margin-right: 1.5vw;
    font-size: 1.0rem;
    margin-top: 2vw;
    color: #666;
    text-align: left;
}

.degree {
    font-style: italic;
    color: #333;
    font-size: 1.0rem;
}

.year {
    font-size: 1rem;
    color: #888;
}

.educ-bg:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 0.5rem;
    width: 0.5rem;
    background-color: #283758;
    border-radius: 50%;
}

/* FOR THE PROJECTS SECTION */
#proj {
    padding: 5vw 18vw 5vw 16vw;
    text-align: center;
}

.project {
    padding: 2vw;
    width: 80%;
    margin: 1.5rem auto;
    border: 1px solid #ddd;
    border-radius: 16px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project h4 {
    color: #283758;
    font-size: 1.2rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.project p {
    font-size: 1rem;
    margin: 1rem 0;
}

.project:hover {
    transform: scale(1.02);
}

.project-links {
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
    font-size: 0.9rem;
}

.pl {
    color: #204083;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    position: relative;
}

.pl:hover {
    color: #213072;
}

.pl::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #1764ac;
    transition: width 0.3s, left 0.3s;
}

.pl:hover::after {
    width: 100%;
    left: 0;
}

/* FOR THE CONTACT SECTION */
.contact {
    background-color: rgb(220, 236, 252);
}

#contact {
    padding-bottom: 5vw;
}

#contact h4 {
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
    font-size: 1.4rem;
}

#contact h5 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.0rem;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin-left: 5rem;
    margin-right: 5rem;
}

.contact-info li {
    margin: 10px 0;
    list-style: none;
    margin-left: 4vw;
}

.contact-form {
    padding-left: 3vw;
    padding-right: 1vw;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}

.btn {
    width: auto;
    background-color: #283758;
    color: rgb(138, 170, 231);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #124d75;
}

@media screen and (max-width: 768px) {
    .profile {
        right: 9.5rem;
        margin-top: 0.5rem;
    }
    .profile-pic {
        width: 3rem; 
        height: 3rem; 
        border: 2px solid rgb(62, 72, 105); 
    }
    .name-title {
        position: absolute; 
        margin-left: 1rem;
    }
    .name-title h1 {
        font-size: 1.5rem; 
    }
    .name-title h2 {
        font-size: 1rem; 
    }
    .nav {
        top: 1rem;
        right: 1rem;
        padding: 0.2rem 1rem;
    }
    .nav a {
        position: relative; 
        font-size: 0.5rem; 
    }
    .about, #educ, #proj {
        padding: 2vw 5vw 2vw 5vw;
    }
    .education h4, #proj .head {
        margin-top: 4vh;
    }
    .education p {
        margin: 2vw 0vw 3vw 0vw;
    }
    h3 {
        font-size: 2rem;
    }
    p, li, .skill p, .project h4 {
        font-size: 1rem;
    }
    .about h4, #s-e h4, #educ .head, #proj .head {
        font-size: 1.4rem;
        text-align: center;
    }
    .collage img {
        width: 18.5vw;
    }
    #s-e {
        padding: 2vw 3vw 2vw 3vw;
        display: block;
    }
    #graph {    
        padding: 5vw 3vw 10vw 3vw;
    }
    .project p {
        font-size: 0.8rem;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .project-links {
        margin-bottom: 2vw;
    }
    #contact h4 {
        font-size: 1.2rem;
    }
    .contact-container {
        display: block;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .contact-info li:last-child {
        padding-bottom: 1rem;
    }
    .btn {
        margin-bottom: 1rem;
    }
}

@media (max-width: 360px) and (max-height: 776px) {
    .profile {
        right: 10rem;
        margin-top: 0.5rem;
    }
    .profile-pic {
        width: 4rem; 
        height: 4rem; 
        border: 2px solid rgb(62, 72, 105); 
    }
    .name-title {
        position: absolute; 
        margin-left: 1rem;
    }
    .name-title h1 {
        font-size: 1.5rem; 
    }
    .name-title h2 {
        font-size: 1rem; 
    }
    .name-title h1 {
        font-size: 2rem; 
    }
    .name-title h2 {
        font-size: 1rem; 
    }
    .name-title h1 {
        font-size: 2rem; 
    }
    .name-title h2 {
        font-size: 1.2rem; 
    }
    #graph {    
        padding: 5vw 0vw 10vw 3vw;
    }
    .skill p {
        font-size: 0.8rem;
    }
}

@media (max-width: 390px) and (max-height: 797px) {
    #graph {    
        padding: 5vw 0vw 10vw 3vw;
    }
    .skill p {
        font-size: 0.8rem;
    }
}

@media (max-width: 200px) and (max-height: 242px) {
    .nav {
        display: none;
    }
    .profile-pic {
        display: none;
    }
    .name-title h1, p, li, .skill p, .project h4, .educ-timeline .desc, .degree, .year, .project-links,#contact h4, #contact h5, #contact p, .contact-info li {
        font-size: 0.8rem; 
    }
    .name-title h2 {
        font-size: 0.5rem; 
    }
    h3, .educ-bg h4 {
        font-size: 1rem;
    }
    .about h4, #s-e h4, #educ .head, #proj .head {
        font-size: 1rem;
        text-align: center;
    }
    #graph {    
        display: none;
    }
    .contact-info li:first-child {
        display:none;
    }
    .btn {
        width: 80%;
        font-size: 0.6rem;
    }
}